<!doctype html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Title</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
<div class="container">
	<header>

		<a href="index.html" class="logo">
		<span class="logo-title">
			<span class="red">Имидж</span>
			<span>видео</span>
		</span>
			<span class="logo-description">бизнес-продакшн</span>
		</a>

		<div class="lang-block">
			<span class="lang-item">En</span>
			<span class="lang-item active">Ru</span>
		</div>

		<div class="contact-block">

			<div class="work-time">
				<div>Ждем ваши звонки:</div>
				<div>пн-сб: с 9:00 до 21:00</div>
			</div>

			<div class="phone-block">
				<div>+7 (495) 663 50 31</div>
				<div>+7 (926) 219 18 82</div>
				<div>+7 (903) 181 25 67</div>
			</div>

			<div class="mail-block">studio@имиджвидео.рф</div>

		</div>
	</header>

</div>

<nav class="main-menu" id="main-menu">
	<a href="index.html">Главная</a>
	<a href="#">Компания</a>
	<a href="#">Кейсы</a>
	<a href="#">Стоимость</a>
	<a href="#">Клиенты</a>
	<a href="#">Контакты</a>
</nav>
