<section class="video">
    <div class="video-wrapper">
        <video poster="video/poster.jpg" autoplay loop>
            <source src="video/video.ogv" type='video/ogg; codecs="theora, vorbis"'>
            <source src="video/video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
            <source src="video/video.webm" type='video/webm; codecs="vp8, vorbis"'>
        </video>
    </div>
    <div class="video-mask"></div>
    <div class="blue-bg"></div>
    <div class="slider-wrapper">
        <div class="container">

            <div class="slider-item-wrapper">

                 <div class="slider-item">
                     <h1 class="video-title">Имиджевые видеоролики компаний</h1>
                     <div class="video-description">от разработки сценария<br>до съемок, монтажа и озвучания диктором</div>
                     <div class="video-price">От  186 000 руб.</div>
                 </div>

                <div class="slider-item">
                    <h1 class="video-title">ДОНОСИМ МИССИЮ ВАШЕЙ КОМПАНИИ ДО АУДИТОРИИ</h1>
                    <div class="video-description">оказываем полный комплекс услуг по созданию имиджевого видеоконтента<br>для российских и международных компаний</div>
                    <div class="video-price">От  186 000 руб.</div>
                </div>

                <div class="slider-item">
                    <h1 class="video-title">ПОМОГАЕМ СОЗДАТЬ ПРАВИЛЬНЫЕ ВПЕЧАТЛЕНИЯ О ВАШЕМ БИЗНЕСЕ</h1>
                    <div class="video-description">продумываем концепции видеороликов,<br>предлагаем лучшие имиджевые решения</div>
                    <div class="video-price">От  186 000 руб.</div>
                </div>

                <div class="slider-item">
                    <h1 class="video-title">СОЕДИНЯЕМ КАЧЕСТВЕННЫЕ ПРОДУКТЫ И УСЛУГИ С ИХ ПОТРЕБИТЕЛЯМИ</h1>
                    <div class="video-description">пишем сценарии видеороликов,<br>правильно презентуем продукты и услуги</div>
                    <div class="video-price">От  186 000 руб.</div>
                </div>

                <div class="slider-item">
                    <h1 class="video-title">РАБОТАЕМ НА МЕЖДУНАРОДНОМ УРОВНЕ</h1>
                    <div class="video-description">проводим стильную видеосъемку<br>и создаем идеальную 2D/3D визуализацию </div>
                    <div class="video-price">От  186 000 руб.</div>
                </div>

                <div class="slider-item">
                    <h1 class="video-title">ВЫ ОБРАТИЛИСЬ ПО АДРЕСУ</h1>
                    <div class="video-description">решаем задачи любой сложности - просто направьте нам техническое задание<br>для расчета коммерческого предложения </div>
                    <div class="video-price">От  186 000 руб.</div>
                </div>

                <div class="slider-item">
                    <h1 class="video-title">ПОЛОЖИМ НАЧАЛО НАШЕМУ СОТРУДНИЧЕСТВУ</h1>
                    <div class="video-description">рмы сопровождаем клиентов годами,<br>создавая и продвигая новые видеоролики.</div>
                    <div class="video-price">От  186 000 руб.</div>
                </div>

             </div>

         </div>
    </div>
    <div class="view-wrapper">
        <div class="container">
            <div class="video-view-wrapper">

                <div class="video-view-item">
                    <div class="video-view-logo">
                        <img src="img/1.png" alt="">
                    </div>
                    <div class="video-view-body">
                        <div class="video-view-title">Видеоролик</div>
                        <div class="video-view-text">для сайта</div>
                    </div>
                </div>

                <div class="video-view-item">
                    <div class="video-view-logo">
                        <img src="img/2.png" alt="">
                    </div>
                    <div class="video-view-body">
                        <div class="video-view-title">Видеоролик</div>
                        <div class="video-view-text">для стенда на специализированной выставке</div>
                    </div>
                </div>

                <div class="video-view-item">
                    <div class="video-view-logo">
                        <img src="img/3.png" alt="">
                    </div>
                    <div class="video-view-body">
                        <div class="video-view-title">Видеоролик</div>
                        <div class="video-view-text">для отчета о достижениях компании</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="video-frame">
        <div class="frame-top"></div>
        <div class="frame-bottom"></div>
    </div>
</section>

<section class="image">
    <div class="container">

        <div class="btn-row">
            <div class="btn round-btn">Раместить тендер</div>
            <div class="btn round-btn">Заказать ролик</div>
        </div>

        <div class="section-title">
            <span>ПРОИЗВОДСТВО ИМИДЖЕВОГО ВИДЕОРОЛИКА</span>
            <span>в профессиональном продакшне полного цикла</span>
        </div>

        <div class="benefit-wrapper">

            <div class="benefit-item">
                <div class="benefit-logo">
                    <span class="icon icomoon-gear"></span>
                </div>
                <div class="benefit-title">Качественно</div>
                <div class="benefit-description">
                    <p>Снимаем только  имиджевые ви- деоролики для бизнеса</p>
                    <p>Постоянная команда и отлажен- ные процессы</p>
                </div>
            </div>

            <div class="benefit-item">
                <div class="benefit-logo">
                    <span class="icon icomoon-award"></span>
                </div>
                <div class="benefit-title">Надежно</div>
                <div class="benefit-description">
                    <p>9 лет на рынке</p>
                    <p>Фиксируем в Договоре сценарий, смету, и точные сроки сдачи гото- вого ролика</p>
                </div>
            </div>

            <div class="benefit-item">
                <div class="benefit-logo">
                    <span class="icon icomoon-handshake"></span>
                </div>
                <div class="benefit-title">Удобно</div>
                <div class="benefit-description">
                    <p>Помощь в разработке концеп-<br>ции и сценария</p>
                    <p>Ориентируемся на постоянное сотрудничество</p>
                </div>
            </div>

        </div>

    </div>
</section>

<section class="scenario">

    <div class="section-title">
        <span>Мы пишем подробные сценарии</span>
        <span>вы заранее видите все</span>
    </div>

    <div class="scenario-types">
        <div class="container">
            <span>Видеоряд</span>
            <span>Компьютерная графика</span>
            <span>Дикторский текст</span>
        </div>
    </div>

    <div class="laptop-block">
        <img src="img/laptop.png" class="laptop-img" alt="">

        <div class="laptop-screen">

            <div class="scenario-slider">
                <div class="scenario-slider-item">scenario-slider 1</div>
                <div class="scenario-slider-item">scenario-slider 2</div>
                <div class="scenario-slider-item">scenario-slider 3</div>
            </div>

        </div>

    </div>

</section>

<section class="structure">
    <div class="container">

        <div class="section-title">
            <span>структура имиджевого ролика,</span>
            <span>презентующего компанию</span>
        </div>


    </div>
</section>


