$red-color: #f22d2d;
$blue-color: #6a83bb;
body {
  font-family: mullerregular, sans-serif;
  font-size: 18px;
  color: #fff;
  min-width: 320px;
  background: #0f131c;
  -webkit-font-smoothing: subpixel-antialiased;
}
ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1248px;
  padding: 0 15px;
  margin: 0 auto;
}



