$red-color: #f22d2d;
$blue-color: #6a83bb;
body {
  font-family: mullerregular, sans-serif;
  font-size: 18px;
  color: #fff;
  min-width: 320px;
  background: #0f131c;
  -webkit-font-smoothing: subpixel-antialiased;
}
ol, ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1248px;
  padding: 0 15px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  margin-bottom: 31px;
}
.logo {
  text-decoration: none;
  color: #fff;
}
.logo-title {
  font-family: mullermedium, sans-serif;
  font-size: 34px;
  line-height: 41px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 4px;
  position: relative;
  &:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    background: #fff;
  }
  .red {
    color: $red-color;
  }
}
.logo-description {
  font-family: mullerlight, sans-serif;
  font-size: 18px;
  display: inline-block;
  width: 100%;
}
.lang-block {
  display: flex;
  align-items: center;
  font-family: mullermedium, sans-serif;
  margin-left: 109px;
  margin-top: -18px;
}
.lang-item {
  font-size: 18px;
  color: #3e475b;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 13px;
}
.lang-item.active {
  color: #fff;
  text-decoration: underline;
}
.contact-block {
  font-family: mullerlight, sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;

  margin-right: 8px;
  .mail-block {
    width: 82%;
    margin-top: -16px;
    position: relative;
    &:before {
      content: "\e948";
      font-family: icomoon;
      color: $red-color;
      position: absolute;
      top: -1px;
      left: -32px;
      font-size: 16px;
    }
  }
}
.phone-block {
  padding-left: 10px;
  position: relative;
  &:before {
    content: "\e908";
    font-family: icomoon;
    color: $red-color;
    position: absolute;
    top: 3px;
    left: -25px;
    font-size: 14px;
  }
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 3px;
    width: 1px;
    height: 60px;
    background: #fff;
  }
  div {
    margin-bottom: 6px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.work-time {
  width: 50%;
  position: relative;
  margin-right: 8px;
  &:before {
    content: "\e947";
    font-family: icomoon;
    color: $red-color;
    position: absolute;
    top: 3px;
    left: -34px;
    font-size: 14px;
  }
}
.main-menu {
  position: static;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  a {
    font-family: mullermedium, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    position: relative;
    margin: 0 37px 0 27px;
    &:after {
      content: '';
      position: absolute;
      top: 2px;
      right: -36px;
      display: block;
      width: 1px;
      height: 13px;
      background: #3e475b;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}

//.main-menu.fix-menu {
//  position: fixed;
//  z-index: 8;
//  top: 0;
//  left: 0;
//  width: 100%;
//  background: #0f131c;
//}

.video {
  width: 100%;
  height: 744px;
  position: relative;
  margin-top: 22px;
}
.video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 3px solid $red-color;
  border-bottom: 3px solid $red-color;
  z-index: 1;
  video {
    width: 100%;
  }
}
.video-mask {
  z-index: 2;
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/bg-pixel.png) repeat left top;
}
.blue-bg {
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: rgba(52,83,126, .15);
}
.slider-wrapper {
  position: absolute;
  top: 3px;
  left: 0;
  right: 0;
  bottom: 3px;
  background: transparent;
  z-index: 4;
  width: 100%;
  height: 100%;
  .container {
    max-width: 1150px;
  }
  * {
    outline: none;
  }
}
.slider-item-wrapper {
  padding-top: 11%;
}
.slider-item {
  font-family: mullerbold, sans-serif;
  text-align: right;
  .video-title {
    font-size: 53px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: -5px;
  }
  .video-description {
    font-family: mullerlight, sans-serif;
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 25px;
  }
  .video-price {
    font-size: 30px;
    color: $red-color;
    margin-right: 20px;
    text-shadow: 0 0 114px rgba(1,12,48, 1);
  }
}
.view-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: auto;
  padding-bottom: 62px;
}
.video-frame {
  z-index: 6;
  position: absolute;
  top: 0;
  left: 0;
  bottom: -6px;
  right: 0;
  .frame-top {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 40%;
    border-right: 117px solid transparent;
    border-top: 66px solid #0f131c;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0;
      width: 100%;
      border-right: 8px solid #0000;
      border-top: 4px solid #f22d2d;
    }
  }
  .frame-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 0;
    width: 40%;
    border-left: 117px solid transparent;
    border-bottom: 66px solid #030710;
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0;
      width: 99%;
      border-left: 8px solid #0000;
      border-bottom: 4px solid $red-color;
    }
  }
}
.video-view-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .video-view-item {
    display: flex;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      right: -78px;
      top: 0;
      display: block;
      width: 1px;
      height: 56px;
      background: #fff;
    }
    &:nth-child(2){
      &:after {
        right: -57px;
      }
    }
    &:last-child {
      &:after {
        display: none;
      }
    }
  }
  .video-view-logo {
    margin-right: 45px;
    margin-left: 30px;
  }
  .video-view-title {
    font-family: mullerbold, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
  }
  .video-view-text {
    font-family: mullerlight, sans-serif;
    font-size: 18px;
    max-width: 220px;
  }
}
.image {
  padding: 60px 0 0 0;
  //background: #030710 url(../img/image-bg.png) no-repeat center center;

}
.section-title {
  margin: 0;
  font-size: 36px;
  text-align: center;
  position: relative;
  margin-bottom: 90px;
  span {
    display: inline-block;
    width: 100%;
  }
  span:first-child {
    font-family: mullerbold, sans-serif;
    text-transform: uppercase;
  }
  span:nth-child(2) {
    font-family: mullerlight, sans-serif;
    text-transform: lowercase;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: -24px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 317px;
    height: 3px;
    background: $red-color;
  }
}
.btn-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 143px;
}
.round-btn {
  width: 272px;
  height: 54px;
  box-sizing: border-box;
  border-radius: 26px;
  background: transparent;
  border: 2px solid $red-color;
  text-align: center;
  font-family: mullermedium, sans-serif;
  cursor: pointer;
  line-height: 54px;
  text-transform: uppercase;
  transition: all .3s;
  margin: 0 64px;
  &:hover {
    background: $red-color;
  }
}
.benefit-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 110px;
  margin-bottom: 145px;
}
.benefit-title {
  font-size: 30px;
  font-family: mullerbold, sans-serif;
  color: $red-color;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.benefit-logo {
  font-size: 60px;
  padding-left: 80px;
  margin-bottom: 20px;
}
.benefit-description {
  max-width: 300px;
  padding-left: 40px;
  p {
    margin-top: 0;
    margin-bottom: 12px;
    font-family: mullerlight, sans-serif;
    font-size: 18px;
    line-height: 22px;
  }
}
.benefit-item {
  padding-left: 20px;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 3px;
    height: 265px;
    background: url(../img/benefit-line.png) no-repeat top center ;
  }
  &:nth-child(2) {
    margin-top: 60px;
    .benefit-logo {
      padding-left: 50px;
    }
  }
  &:nth-child(3) {
    .benefit-logo {
      padding-left: 30px;
    }
  }
}
.scenario-types {
  font-family: mullermedium, sans-serif;
  font-size: 24px;
  color: $red-color;

  margin-top: 90px;
  .container {
    max-width: 1066px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.laptop-block {
  max-width: 1380px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  .laptop-img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  .laptop-screen {
    position: absolute;
    left: 15.4%;
    right: 15.4%;
    top: 7.5%;
    box-sizing: border-box;
  }
}
.scenario-slider {
  height: 100%;
}
.scenario-slider-item {
  height: 100%;
}
.slick-next {
  right: -160px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid $blue-color;
  box-sizing: border-box;
  &:before {
    content: "\e93b";
    font-family: icomoon;
    color: $blue-color;
  }
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  color: $blue-color;
}
.slick-prev {
  left: -160px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid $blue-color;
  box-sizing: border-box;
  &:before {
    content: "\e93b";
    font-family: icomoon;
    color: $blue-color;
    display: inline-block;
    transform: rotate(180deg);
  }
}


