/* vars */


/* temp */

/* reset CSS */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, img, ol, ul, li, fieldset, form, label, legend, table, caption, article, aside, canvas, figure, figcaption, footer, header, menu, main, nav, section, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  //font-family: $f-light;
  font-size: 16px;
  line-height: 1;
  min-width: 480px;
}
ol, ul {
  list-style: none;
}


/***********    main    ***********/
